// $color__theme_1: #05f2f2;
// $color__theme_2: #04d9d9;
$color__theme_primary: #03a6a6;
$color__theme_secondary: #d9a796;
$color__theme_white: #f2f2f2;
$color__theme_white_blog: #fefefe;

$color__text_base: #333333;
$color__text_weak: #666666;

$color__category_frontend: #3178c6; // TypeScriptのテーマカラー
$color__category_backend: #e04b4a;
$color__category_infra: #f2a154;
